@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.btn {
  @apply transition bg-gray-700 px-4 py-2 rounded-lg cursor-pointer text-white outline-none;
  @apply hover:shadow-md hover:bg-gray-900;
  @apply dark:bg-white dark:text-black dark:hover:bg-gray-500;
  @apply focus:outline-none;
}

.fade-in {
  animation: fade-in 0.5s;
}

.enter-top {
  animation: enter-top 0.3s;
}

.zoom-in {
  animation: zoom-in 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes enter-top {
  from {
    transform: translateY(-10px);
    opacity: 0.5;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
